[submodule "ext/text_utilities"]
	path = ext/text_utilities
	url = git@github.com:adein/text_utilities.git
[submodule "ext/robotpy"]
	path = ext/robotpy
	url = git@github.com:robotpy/robotpy.git
[submodule "ext/pyfrc"]
	path = ext/pyfrc
	url = git@github.com:robotpy/pyfrc.git
